Manticore connector - GET _search not valid

The Apache HTTPComponents do not support `setEntity` on HTTPGet objects, which means that Manticore can't set a request body on a GET request. As a result, when you use the Manticore transport, searches with a query body end up not passing the body (and thus don't pass your query).

RFC 2616 Section 9.3 says:

> The GET method means retrieve whatever information (in the form of an
   entity) is identified by the Request-URI.

So I think it's arguable that HTTPComponents are behaving properly (and Elasticsearch is in violation of the spec) here - GET requests are identified solely by their request-uri, rather than uri + body.

http://www.elastic.co/guide/en/elasticsearch/reference/current/search-request-body.html says "Since not all clients support GET with body, POST is allowed as well"; it seems like the easy fix here would be to change `GET _search` to `POST _search` here: https://github.com/elastic/elasticsearch-ruby/blob/14af764f8906f34efa930c0d2da381b516024030/elasticsearch-api/lib/elasticsearch/api/actions/search.rb#L151

The query form of _search is insufficient here since the `q` parameter assumes a `query_string` search, rather than accepting a full query document.

So, to that end, I think that any request which passes a method body needs to *not* be a GET or HEAD request. If ya'll agree, I'll fix it up and issue a PR.

Actually, I think I'm just going to patch Manticore with a custom subclass of HTTPPost that can perform GET with a body. Search templates expect GET with a body; POST is semantically different, which makes spec-compliant behavior impossible without ES's APIs changing.

Fixed in https://github.com/cheald/manticore/commit/af215fb42526fa19603fb6642fc55a69af224e8a, released Manticore 0.3.6.

Hi @chead, thanks for the note -- I'm tied with something else at the moment, so will need to revisit this later.

First, we have a [`send_get_body_as`](https://github.com/elastic/elasticsearch-ruby/blob/master/elasticsearch-transport/lib/elasticsearch/transport/client.rb#L77) parameter, to just switch to POST instead of GET.

Second, it has been discussed couple of times, and yeah, it could be argued that a GET request with a body is not _de iure_ correct, but there are practical issues to have it like that... So I don't think it will go away.

@jsvd Would you be so kind and find some time to see what we need to do here on our side? 

Aha! I completely missed `send_get_body_as`. At first blush, that may fix the issue, but I suspect that would still be incompatible with search templates, though, since `POST /_search/template/foo` stores a new template as `foo` (provided by the body), and `GET /_search/template/foo` with a search body transforms the passed body by the `foo` template (at least, as best as I can tell from the test suite).

There shouldn't be anything necessary to do here immediately, though in the future it would be cool is ES provided a query parameter to accept an arbitrary request body, rather than relying on GET bodies directly.

>  I suspect that would still be incompatible with search templates

Yeah, I'm afraid it's like that... The parameter only solves the most common use case with _search...